.container {
    display: grid;
    height: 95vh;
    /*grid-template-columns: 300px auto 300px;*/
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 4px;
}
#col2 {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}
#col3 {
    font-size: 14px;
    justify-self: end;
}
#webpage_name {
    justify-self: center;
}
#user_input_box {
    width: 500px;
    height: 35px;
    display: grid;
    grid-template-columns: 45px auto;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-radius: 22px;
    margin: 10px;
    padding: 5px;
}
#user_input_box:hover {
    box-shadow:0 0 11px rgb(138, 138, 138);
}
#user_input_img {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 22px 0px 0px 22px;
}
#user_input_text {
    font-size: 16px;
    border-color: transparent;
    border-radius: 0px 22px 22px 0px;
    cursor: pointer;
    outline: none;
}
#button {
    height: 35px;
    width: 120px;
    border-color: white;
    border-width: thin;
    background-color: rgb(240, 240, 240);
    color:rgb(109, 109, 109);
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    padding: 3px;  
    margin: 3px;
    outline: none;
}